[submodule "backend/active_file"]
	path = backend/active_file
	url = https://github.com/eschulte/active_file.git
[submodule "backend/acts_as_org"]
	path = backend/acts_as_org
	url = https://github.com/eschulte/acts_as_org.git
[submodule "themes"]
	path = themes
	url = https://github.com/eschulte/blorgit_themes.git
